.tile-image {
    width:100%;
    height: 100%;
  }
.fix{
    width: 100% !important;
} 

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    align-items: center;
  }
  
  .example-full-width {
    width: 100%;
  }

  .image {
	height: 40em;
	background-size: cover;
	width: auto;
    height: 65em !important;
	background-image: url('../../../assets/images/background/login.jpg');
	background-position: 50% 50%;
    opacity: 0.9;
	
}

aux {
    border: 5ch;
}